.container {
    padding: 6px;
}

.min-height {
    min-height: 75%;
}

.start {
    justify-content: flex-start;

}

.column {
    flex-direction: column;
    justify-content: flex-start;
}

#root {
    background-color: #000 !important;
}